@page
@model AISportsApp.Pages.add_subscriptionModel
@{
ViewData["Title"] = "subscription";
}
<!-- Content Header (Page header) -->
<div class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1 class="m-0"> Add 
Subscription
</h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-right">
<li class="breadcrumb-item"><a href="~/Setup/subscription">Subscription</a></li>
<li class="breadcrumb-item active"> Add Subscription</li>
</ol>
</div>
</div>
</div><!-- /.container-fluid -->
</div><!-- /.content-header -->
<!-- Main content -->
<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="card card-primary ">
<div class="card-header">
<h5 class="m-0"> Add Subscription</h5>
</div>
<form id = "subscriptionForm" name="subscriptionForm" method="post" asp-page-handler="AddSubscription">
<div class="card-body">
<input type="hidden" asp-for="SubscriptionId"/>
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<label>Plan Name</label>
<input  asp-for="PlanName" id="PlanName" name="PlanName" type = "text" class="form-control" placeholder="Enter PlanName...">
<span asp-validation-for="PlanName" class="text-danger"></span>
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<label>Status</label>
<input  asp-for="Status" id="Status" name="Status" type = "text" class="form-control" placeholder="Enter Status...">
<span asp-validation-for="Status" class="text-danger"></span>
</div>
</div>
</div>
<input type="hidden" asp-for="Is_Active"/>
<input type="hidden" asp-for="Created_Date"/>
<input type="hidden" asp-for="Created_By"/>
<input type="hidden" asp-for="Modified_Date"/>
<input type="hidden" asp-for="Modified_By"/>
<input type="hidden" asp-for="Audit_Id"/>
<input type="hidden" asp-for="User_IP"/>
</div>
<div class="card-footer">
<button id = "btnAddSubscription" type="submit" Class="btn btn-primary">Add</button>
</div>
</form>
</div>
</div>
</div>
<!-- /.row -->
<div class="row">
<div class="col-12">
<!-- Display ModelState Errors -->
@if (!Model.ModelState.IsValid)
{
<div class="text-danger">
<ul>
@foreach (var error in Model.ModelState.Values.SelectMany(v => v.Errors))
{
<li>@error.ErrorMessage</li>
}
</ul>
</div>
}
</div>
</div>
</div><!-- /.container-fluid -->
</div>
  @section Scripts {
<partial name="_ValidationScriptsPartial" />
}
<!-- /.content -->
<Environment include = "Development" >
<script src="~/js/customscript/add-subscription.js" asp-append-version="true"></script>
</environment>
<Environment exclude = "Development" >
<script src="~/js/customscript/add-subscription.min.js" asp-append-version="true"></script>
</environment>

