@page
@model AISportsApp.Pages.add_kittypeModel
@{
ViewData["Title"] = "kittype";
}
<!-- Content Header (Page header) -->
<div class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1 class="m-0"> Add 
Kit Type
</h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-right">
<li class="breadcrumb-item"><a href="~/Setup/kittype">Kit Type</a></li>
<li class="breadcrumb-item active"> Add Kit Type</li>
</ol>
</div>
</div>
</div><!-- /.container-fluid -->
</div><!-- /.content-header -->
<!-- Main content -->
<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="card card-primary ">
<div class="card-header">
<h5 class="m-0"> Add Kit Type</h5>
</div>
<form id = "kittypeForm" name="kittypeForm" method="post" asp-page-handler="AddKitType">
<div class="card-body">
<input type="hidden" asp-for="KitTypeId"/>
<div class="row">
<div class="col-sm-12">
<div class="form-group">
<label> Select Business Entity</label>
<select asp-items="Model.Location_IDs" asp-for="Location_ID" id="Location_ID" name="Location_ID" class="form-control"></select>
<span asp-validation-for="Location_ID" class="text-danger"></span>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<label>Kit Type Name</label>
<input  asp-for="KitTypeName" id="KitTypeName" name="KitTypeName" type = "text" class="form-control" placeholder="Enter KitTypeName...">
<span asp-validation-for="KitTypeName" class="text-danger"></span>
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<label>Description</label>
<input  asp-for="Description" id="Description" name="Description" type = "text" class="form-control" placeholder="Enter Description...">
<span asp-validation-for="Description" class="text-danger"></span>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<label>Notes</label>
<textarea rows="5" asp-for="Notes" id="Notes" name="Notes" type = "text" class="form-control" placeholder="Enter Notes..."></textarea>
<span asp-validation-for="Notes" class="text-danger"></span>
</div>
</div>
<input type="hidden" asp-for="Is_Active"/>
</div>
<input type="hidden" asp-for="Created_Date"/>
<input type="hidden" asp-for="Created_By"/>
<input type="hidden" asp-for="Modified_Date"/>
<input type="hidden" asp-for="Modified_By"/>
<input type="hidden" asp-for="Audit_Id"/>
<input type="hidden" asp-for="User_IP"/>
<input type="hidden" asp-for="Site_Id"/>
</div>
<div class="card-footer">
<button id = "btnAddKitType" type="submit" Class="btn btn-primary">Add</button>
</div>
</form>
</div>
</div>
</div>
<!-- /.row -->
<div class="row">
<div class="col-12">
<!-- Display ModelState Errors -->
@if (!Model.ModelState.IsValid)
{
<div class="text-danger">
<ul>
@foreach (var error in Model.ModelState.Values.SelectMany(v => v.Errors))
{
<li>@error.ErrorMessage</li>
}
</ul>
</div>
}
</div>
</div>
</div><!-- /.container-fluid -->
</div>
  @section Scripts {
<partial name="_ValidationScriptsPartial" />
}
<!-- /.content -->
<Environment include = "Development" >
<script src="~/js/customscript/add-kittype.js" asp-append-version="true"></script>
</environment>
<Environment exclude = "Development" >
<script src="~/js/customscript/add-kittype.min.js" asp-append-version="true"></script>
</environment>

